// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;
 
// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;// COLOR VARIABLES



*,
*::before,
*::after{
    padding: 0%;
    margin: 0%;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
    
}

.container{
display: grid;
grid-template-rows: 80vh min-content 40vw repeat(3,min-content);
grid-template-columns:[bar-start] 5rem [bar-end full-start] minmax(4rem,1fr) [center-start] repeat(8, [col-start] minmax(min-content ,140px) [col-end]) [center-end] minmax(4rem,1fr) [full-end];
}


